<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="isVisible">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" (click)="closeModal()"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex items-end justify-center p-4 text-center sm:items-center sm:p-0 h-full">
      <div class="relative t-0 transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="mt-5 text-center sm:ml-4 sm:mt-0 sm:text-left">

              <app-loading-component *ngIf="loading" class="mt-2 absolute right-0 left-0 top-2"></app-loading-component>


              <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">{{ title }}</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500" *ngIf="description">{{ description }}</p>
              </div>

              <form  [formGroup]="form" (submit)="createTask()">
                    <app-input-text-component
                      *ngIf="values?.id"
                      [type]="'text'"
                      [for]="'id_task'"
                      [id]="'id_task'"
                      [name]="'id_task'"
                      [class]="'invisible'"
                      formControlName="id"
                      [parentForm]="form"
                      [join_value]="values?.id"
                      [placeholder]="'type the title of the task'"
                    ></app-input-text-component>
                    <app-input-text-component
                      [join_value]="values?.title"
                      [label_name]="'Title'"
                      [type]="'text'"
                      [for]="'title_task'"
                      [id]="'title_task'"
                      [name]="'title'"
                      [class]="'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6'"
                      formControlName="title"
                      [parentForm]="form"
                      [placeholder]="'type the title of the task'"
                    ></app-input-text-component>
                    <div *ngIf="form.get('title').invalid && form.get('title').touched" class="text-purple-500">
                      <span *ngIf="form.get('title').errors?.required">Title is required.</span>
                    </div>
                      <app-input-text-component
                        class="mt-3"
                        [join_value]="values?.description"
                        [label_name]="'Description'"
                        [type]="'text'"
                        [for]="'description_task'"
                        [id]="'description_task'"
                        [name]="'description'"
                        [class]="'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6'"
                        formControlName="description"
                        [parentForm]="form"
                        [placeholder]="'type the description of the task'"
                      ></app-input-text-component>
                    <div *ngIf="form.get('description').invalid && form.get('description').touched" class="text-purple-500">
                      <span *ngIf="form.get('description').errors?.required">Description is required.</span>
                    </div>
              </form>

            </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <app-button-component
            *ngIf="confirm_text_button"
            (click)="values?.id ? updateTask() : createTask()"
            [type_button]="'button'"
            [text_button]="confirm_text_button"
            [disable]="loading || this.form.invalid"
            [class_button]="'inline-flex w-full justify-center rounded-md bg-purple-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-purple-500 sm:ml-3 sm:w-auto'">
          </app-button-component>
          <app-button-component
            *ngIf="cancel_text_button"
            (click)="closeModal()"
            [type_button]="'button'"
            [text_button]="cancel_text_button"
            [class_button]="'mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto'">
          </app-button-component>
        </div>
      </div>
    </div>
  </div>
</div>
