

<form  class="mx-auto mt-16 max-w-xl sm:mt-20 relative" [formGroup]="form" (submit)="login()">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
      <div class="sm:col-span-2 relative">
        <app-loading-component *ngIf="loading" class="mt-2 absolute right-2 bottom-1"></app-loading-component>
        <app-input-text-component
          [label_name]="'Email'"
          [type]="'email'"
          [for]="'email_login'"
          [id]="'email_login'"
          [name]="'email'"
          [class]="'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'"
          formControlName="email"
          [parentForm]="form"
        ></app-input-text-component>
        <div *ngIf="form.get('email').invalid && form.get('email').touched" class="text-red-500">
          <span *ngIf="form.get('email').errors?.required">Email is required.</span>
          <span *ngIf="form.get('email').errors?.email">Invalid email address.</span>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <app-button-component
        [text_button]="'Login'"
        [type_button]="'submit'"
        [class_button]="'block w-full rounded-md bg-purple-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600'"
        [disable]="loading"
      >
      </app-button-component>
    </div>
  </form>

<app-confirm-modal-component
  (confirmSelected)="login($event)"
></app-confirm-modal-component>
